*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}




html {
    background-color: gainsboro
}


a {
    text-decoration: none;
    color: inherit;
}




section{
    width: 100%;
    height: 18vh;
    background-size: cover;
    background-position: center;
    background-color: gainsboro
}

section nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #089da1;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 100;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}

section nav ul{
    list-style: none;
}

section nav li{
    display: inline-block;
    padding: 0 10px;
}

section nav li a{
    text-decoration: none;
    color: #000;
}



section nav .social_icon i{
    margin: 0 5px;
    font-size: 18px;
}

section nav .social_icon i:hover{
    cursor: pointer;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
}

section .main h1{
    position: relative;
    font-size: 55px;
    top: 80px;
    left: 25px;
}

section .main h1 span{
    color: #089da1;
}

section .main p{
    width: 650px;
    text-align: justify;
    line-height: 22px;
    position: relative;
    top: 125px;
    left: 25px;
}

section .main .main_tag .main_btn{
    background: #089da1;
    padding: 10px 20px;
    position: relative;
    top: 200px;
    left: 25px;
    color: #fff;
    text-decoration: none;
}

section .main .main_img img{
    width: 780px;
    position: relative;
    top: 90px;
    left: 20px;
}


.menu__list-link--active {
    color: green;
}


.arrivals{
    width: 100%;
    height: 150vh;
    margin-bottom: 35px;
    background-color: gainsboro;
    background-image: url(image/bg.png);
}

.arrivals h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Courier New', Courier, monospace;
}

.arrivals p {
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.arrivals .arrivals_box{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
}

.arrivals .arrivals_box .arrivals_card{
    width: 250px;
    height: 340px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;

}

.arrivals .arrivals_box .arrivals_card:hover{
    box-shadow: 0 0 5px #089da1;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image{
    width: 150px;
    height: 220px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    overflow: hidden;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}


.arrivals .arrivals_box .arrivals_card .arrivals_tag p{
    font-family: cursive;
    font-size: 15px;
    margin: 8px 0;
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_icon{
    color: #089da1;
    margin-bottom: 18px;
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_btn{
    padding: 8px 20px;
    border: 2px solid green;
    text-decoration: none;
    color: #000;
    font-family: cursive;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.showmore-link {
    text-align: center;
    background-color: #151515;
    padding: 15px;
    color: #fff;
    width: 225px;
    margin: 0 auto;
    display: block;
    margin-left: 267%;
    margin-top: 15%;
}



.footer{
    background: #089da1;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.scheme {
    color: white;
}

